/* portfolio.css
* 
*   LU: 02/24/2020
*/

/*
*   Project page section
*/
div.project-container {
  padding: 6rem 70px;
  background-color: #fff;
  color: #000;
}

div.project-container > h1 {
  color: inherit;
  text-align: center;
  font-size: 3.7rem;
}

div.project-container > h2,
div.project-container > h3,
div.project-container > h4,
div.project-container > h5,
div.project-container > h6 {
  color: inherit;
  text-align: center;
}

div.project-box {
  align-items: flex-start;
}

div.project-box > img {
  flex-shrink: 2;
  flex-grow: 6;
}

div.project-box > span {
  margin-left: 1rem;
  flex-shrink: 6;
  flex-grow: 1;
}

span.project-description {
  display: block;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-right: 15rem;
}

#launch-project {
  text-align: center;
  margin-top: 2rem;
}

#launch-project > a {
  display: inline-block;
  text-decoration: none;
  padding: 14px;
  background: #2ba3d4;
  border-radius: 6px;
}
#launch-project > a:hover {
  background: rgb(229, 115, 25);
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
}
#launch-project > a > h2 {
  margin: 0;
}

/* Mobile screens */
@media only screen and (max-width: 415px) {
  div.project-container {
    padding: 5rem 12.5%;
  }
}

/* Smaller screens */
@media only screen and (max-width: 768px) {
	.project-box > span {
		display: none;
	}

	span.project-description {
		margin-right: 0;
	}
}