/* style.css
* 
*   LU: 02/12/2020
*/

/* 
*   General
*/
html {
  background: #2ba3d4 url("../media/wallpapers/Dark blue gradient.svg") 50% 0 no-repeat;
  background-attachment: fixed;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body {
  background: none;
  font-size: 14px;
}
b {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-weight: 400;
  margin-bottom: 12px;
  color: #fff;
}
h1 {
  font-size: 2rem;
}
h1.section-header {
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.0rem;
}
h6 {
  font-size: 0.7rem;
}

img {
  width: 100%;
}

.flex-box-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}
.flex-box-no-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}
.flex-box-no-wrap-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: space-around;
}


/*
*   Navigation bar
*/
nav.navbar {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}
nav.navbar > ul {
  text-align: center;
}
nav.navbar > ul > li {
  display: inline-block;
  vertical-align: middle;
  min-width: 120px;
}
nav.navbar > ul > li > a {
  display: block;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
nav.navbar > ul > li > a:hover,
nav.navbar > ul > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 3px solid white;
}


/*
*   Welcome section
*/
div.welcome-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 25%;
}
div.welcome-container > * {
  margin: 2rem 0;
}


/*
*   Skills section
*/
div.skills-container {
  display: block;
  padding: 5rem 70px;
  background: rgba(61, 192, 241, 0.4);
  text-align: center;
}

.skills-flex > div {
  flex-shrink: 0;
  flex-basis: 256px;
  padding: 1rem;
  min-width: 200px;
}

.skills-flex > div > i {
  font-size: 8rem;
  color: white;
}

.skills-flex > div > h2 {
  margin-top: 1.5rem;
}


/*
*   Portfolio section
*/
div.portfolio-container {
  display: block;
  padding: 5rem 70px;
  background-color: #fff;
  text-align: center;
}

div.portfolio-container > h1,
div.portfolio-container > h3 {
  color: #000;
}

.portfolio-flex > div {
  flex-basis: 374px;
  min-width: 200px;
  margin: 2px 2px 5px 2px;
}

.portfolio-flex > div > a {
  display: block;
  position: relative;
}
.portfolio-flex > div > a > div.mask {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3dc0f1;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
  -ms-transition: opacity 0.33s ease-in-out;
  -o-transition: opacity 0.33s ease-in-out;
  opacity: 0;
}
.portfolio-flex > div > a > div.mask:focus,
.portfolio-flex > div > a > div.mask:hover {
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
  -ms-transition: opacity 0.33s ease-in-out;
  -o-transition: opacity 0.33s ease-in-out;
  opacity: 1;
}

.portfolio-flex > div > a > div.mask > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.portfolio-flex > div > a > div.mask > div > span {
  display: block;
  color: #fff;
  line-height: 2rem;
}
.portfolio-flex > div > a > div.mask > div > span:first-child {
  font-size: 1.5rem;
}
.portfolio-flex > div > a > div.mask > div > span:last-child {
  font-size: 1rem;
}


/*
*   About section
*/
div.about-container {
  display: block;
  padding: 5rem 70px;
  background: rgba(61, 192, 241, 0.4);
  text-align: center;
}

div.about-flex {
  justify-content: left;
  align-items: flex-start;
}

.about-flex > div.text-section {
  width: 65%;
  text-align: left;
}

.about-flex > div.img-section {
  width: 35%;
}

.about-flex > div.text-section > h3 {
  margin-bottom: 4rem;
  padding-right: 2rem;
}
.about-flex > div.text-section > h3 > ul {
  list-style: disc;
  padding-left: 1em;
}
#CV {
  text-align: left;
}
#CV > a {
  display: inline-block;
  text-decoration: none;
  padding: 14px;
  background: rgb(239, 164, 35);
  border-radius: 6px;
}
#CV > a:hover {
  animation: wobbler;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  background: rgb(229, 115, 25);
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
}
#CV > a > h1 {
  margin: 0;
}
#CV > a > h1 > i {
  font-size: 3rem;
  padding-right: 12px;
}

@media only screen and (max-width: 1000px) {
  div.about-flex.full-screen {
    display: none;
  }

  div.about-flex.mobile-screen {
    display: flex;
  }

  div.about-flex {
    flex-direction: column
  }
  div.about-flex > div.img-section {
    width: 100%;
  }
  div.about-flex > div.text-section {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1001px) {
  div.about-flex.full-screen {
    display: flex;
  }

  div.about-flex.mobile-screen {
    display: none;
  }
}


/*
*   Footer
*/
footer {
  padding: 8rem 0 4rem 0;
  color: #ddd;
  background-color: #252525;
  text-align: center;
}

footer > div.icons {
  margin-bottom: 3rem;
}

footer > div.icons > ul > li {
  color: #ddd;
  display: inline-block;
  background-color: #333;
  border-radius: 5px;
  margin: 0 1.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
footer > div.icons > ul > li:hover {
  color: #2a6496;
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

footer > div.icons > ul > li > a {
  color: inherit;
  display: block;
  padding: 10px;
}

footer > div.icons > ul > li > a > i {
  color: inherit;
  font-size: 3rem;
}

footer > div.nav-footer {
  margin-bottom: 3rem;
}

footer > div.nav-footer > ul > li {
  display: inline-block;
  padding: 0 5px;
}

footer > div.nav-footer > ul > li > a {
  display: block;
  color: #ddd;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
footer > div.nav-footer > ul > li > a:hover {
  color: #fff;
}
footer > div.nav-footer > ul > li > a::after {
  content: "|";
  margin-left: 1rem;
}
footer > div.nav-footer > ul > li:last-child > a::after {
  content: "";
}
footer > div > p {
  letter-spacing: 1em;
}


/*
*   Keyframes
*/
@keyframes wobbler {
  0%    { transform: rotate(0deg); }
  25%   { transform: rotate(5deg); }
  75%   { transform: rotate(-5deg); }
  100%  { transform: rotate(0deg); }
}